# Shamelessly sourced from Marten @cqql
alias w="watch"
alias s="sudo"

alias sa="sudo apt-get"
alias sai="sudo apt-get install"
alias sau="sudo apt-get update"
alias saU="sudo apt-get upgrade"

alias p="pacman"
alias sp="sudo pacman"
alias spu="sudo pacman -Syu"

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Git aliases
alias g="git"

alias gst="git status -v"

alias ga="git add -v"
alias gaa="git add -v -a"

alias gb="git branch -v"
alias gba='git branch -v -a'
alias gbd='git branch -d'

alias gco="git checkout"

alias gc="git commit -v"
alias gcm="git commit -m"
alias gca="git commit -v --amend"

alias gd="git diff"
alias gdc="git diff --cached"

alias gl="git log"

alias grs="git reset"
alias grsp="git reset --soft HEAD^"
alias grsh="git reset HEAD"

alias gcl="git clone"

alias grm="git remote"

alias gf="git fetch"
alias gP="git push"
alias gp="git pull"

alias gm="git merge"

alias gcp="git cherry-pick"
alias gcpc="git cherry-pick --continue"
alias gcpa="git cherry-pick --abort"

alias grb="git rebase"
alias grbi="git rebase --interactive"
alias grbc="git rebase --continue"
alias grba="git rebase --abort"
alias grbs="git rebase --skip"

alias mv='mv -i'

alias fd='fdfind'

alias python=python3

alias k="kubectl"
alias kd="kubectl describe"

if [[ $0 != -bash ]]
then
    alias -g kg="kubectl get"
    alias -g np="-n polyaxon"
    alias -g np="-n polyaxon-dev"
fi

